<div class="chat-container">
  <div class="chat-list">
    <h3>My DMs</h3>
    <ul>
      <li *ngFor="let chat of chats" (click)="selectChat(chat)">{{ getChatName(chat) }}</li>
    </ul>
  </div>
  <div class="chat-room">
    <h3>Chat Room</h3>
    <div class="messages">
      <div *ngFor="let message of messages">
        <span>{{ message }}</span>
      </div>
    </div>
    <div class="input">
      <input type="text" placeholder="Type a message" [(ngModel)]="newMessage" />
      <button (click)="sendMessage()">Send</button>
    </div>
  </div>
</div>
