<div class="filter-container" *ngIf="possibleMatches.length > 0;">
  <label for="start-age">Start Age:</label>
  <input type="range" id="start-age" [(ngModel)]="filters.startAge" name="startAge" min="0" max="20">
  <output>{{ filters.startAge }} years</output>

  <label for="end-age">End Age:</label>
  <input type="range" id="end-age" [(ngModel)]="filters.endAge" name="endAge" min="0" max="20">
  <output>{{ filters.endAge }} years</output>
  <button class="apply-filters-button" (click)="applyFilters()">Apply Filters</button>
  <button class="cancel-filters-button" (click)="cancelFilters()">X</button>
</div>

<div class="gallery-container" *ngIf="possibleMatches.length > 0; else noMatchesTemplate" >
  <div *ngFor="let pet of possibleMatches" class="gallery-item">
    <app-photo-gallery [imageIds]="pet.photoIds" [petName]="pet.name"></app-photo-gallery>
    <div class="like-button-container">
      <button class="like-button" (click)="likePet(pet.id)">
        <img src="assets/paw.png" alt="Like">
      </button>
    </div>
    <div class="details-button-container">
      <button class="details-button" (click)="displayPetDetails(pet)">Details</button>
    </div>
  </div>
</div>

<ng-template #noPetsTemplate>
  <div class="no-pets-message">
    You don't have any pets. <br><a (click)="redirectToMyPets()">Add your furry friend now</a> and begin your search for their Pawfect Match!
  </div>
</ng-template>

<ng-template #noMatchesTemplate>
  <div class="no-matches-message" *ngIf="hasPets; else noPetsTemplate" >
    No matching furry friends yet.. <br> Come back a bit later to find your Pawfect Match!
  </div>
</ng-template>