
<div class="container">
  <mat-toolbar color="primary">
    <span class="title">PAWFECT MATCH</span>
    <span class="spacer"></span>
    <div class="dropdown-container" *ngIf="myPets.length > 0">
      <img src="assets/switcher.png" alt="Dropdown Icon" class="dropdown-icon">
      <mat-select [(value)]="selectedValue" class="dropdown-menu" (selectionChange)="onSelectionChange($event)">
        <mat-option *ngFor="let option of myPets" [value]="option">
          {{ option.name }}
        </mat-option>
      </mat-select>
    </div>
  </mat-toolbar>
</div>
