.photo-gallery-container {
    position: relative;
    margin: 20px auto; // Centers the container and adds some margin
    text-align: center;
    width: 80%; // Makes the container width 80% of its parent
    max-width: 700px; // Ensures it doesn't grow beyond 700px
    border-radius: 15px;
}


.photo-gallery-container img {
    display: block;
    width: 100%; // Ensures the image scales to the container's width
    height: auto; // Maintains the aspect ratio of the image
    max-width: 30vw; // Makes the image width up to 70% of the viewport width
    max-height: 40vh; // Makes the image height up to 50% of the viewport height
    border-radius: 15px;
}

.photo-gallery-container img-image-active {
    display: block;
    width: 100%;
    height: 400px;
}

.photo-gallery-dot-container {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 1rem;
}

.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 5px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    transition: 0.6s ease;
    opacity: 0.5;
}

.active,
.dot:hover {
    opacity: 1;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

.btn-photo-gallery {
    position:
        absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color:
        #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    cursor: pointer;
}

.btn-prev {
    left: 0;
}

.btn-next {
    right: 0;
}

.icon-photo-gallery {
    color: #fff;
    opacity: 0.5;
    transition: all 0.15s ease;
}

.icon-photo-gallery:hover {
    opacity: 0.9;
}

.icon-photo-gallery:active {
    opacity: 0.5;
}

.icon-next,
.icon-prev {
    font-size: 35px;
}