<h1 mat-dialog-title>{{ data.pet.name }}'s details</h1>
<div mat-dialog-content>
  <div class="row mb-3">
    <div class="col-md-6">
      <app-photo-gallery [imageIds]="data.pet.photoIds" [petName]="data.pet.name"></app-photo-gallery>
    </div>
    <div class="col-md-6">
      <p><strong>Age:</strong> {{ data.pet.age }}</p>
      <p><strong>Color:</strong> {{ data.pet.color }}</p>
      <p><strong>Gender:</strong> {{ data.pet.gender }}</p>
      <p><strong>Breed:</strong> {{ data.pet.breed }}</p>
      <p><strong>Description:</strong> {{ data.pet.description }}</p>
      <p><strong>Owner:</strong></p>
      <ul>
        <li>Name: {{ data.pet.owner.firstName }}</li>
        <li>Phone: {{ data.pet.owner.lastName }}</li>
        <li>Email: {{ data.pet.owner.email }}</li>
      </ul>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
