.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    padding-top: 40px;
    margin-left: 180px; 
    margin-top: 90px;
  }
  
  .gallery-item {
    position: relative;
    width: 200px; 
    margin: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: transform 0.3s, box-shadow 0.3s;
  }

.gallery-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }

.photo-gallery-container {
    width: 100%; 
    height: 100%; 
}

.photo-gallery-container img {
    object-fit: cover; 
}


.add-pet-button-container {
  position: absolute;
  top: 90px;
  right: 25px;
}

.add-pet-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
  transition: transform 0.3s;
}

.add-pet-button:hover {
  transform: scale(1.2);
}

.add-pet-button img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}


.no-pets-message {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-top: 50px;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  margin: 50px auto;
}

.edit-button-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.edit-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
  transition: transform 0.3s;
}

.edit-button:hover {
  transform: scale(1.2);
}

.edit-button img {
  width: 30px; 
  height: 30px;
  border-radius: 50%;
}

.details-button-container {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.details-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
  transition: transform 0.3s;
}

.details-button:hover {
  transform: scale(1.2);
}

.details-button img {
  width: 30px; 
  height: 30px;
  border-radius: 50%;
}

.card-header {
  position: absolute;
  top: 0;
  right: 0;
}

.delete-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
  transition: transform 0.3s;
}

.delete-button:hover {
  transform: scale(1.2);
}

.delete-button img {
  width: 20px; 
  height: 20px;
  border-radius: 50%;
}