.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* Center the items horizontally */
  padding-top: 40px;
  /* Add more space between the header and the cards */
  margin-left: 180px;
  /* Adjust this value to reduce the space between the sidebar and the cards */
}

.gallery-item {
  position: relative;
  width: 200px;
  /* Adjust the width as needed */
  margin: 20px;
  /* Add space between the cards */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: transform 0.3s, box-shadow 0.3s;
}

.gallery-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.photo-gallery-container {
  width: 100%; // Uses the full width of its parent .gallery-item
  height: 100%; // Uses the full height of its parent .gallery-item
}

.photo-gallery-container img {
  object-fit: cover; // Covers the container fully, cropping if necessary
}

.filter-container {
  display: flex;
  justify-content: space-around;
  /* Space out the filters evenly */
  align-items: center;
  width: 90%;
  padding: 20px;
  margin: 20px auto;
  /* Center the container horizontally and add top margin */
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-right: -40px;
  margin-top: 60px;
}


::ng-deep .mat-snack-bar-container.custom-snackbar {
  background-color: #ffffff !important;
  /* White background */
  color: #000000 !important;
  /* Black text */
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2) !important;
  /* Optional: Add a subtle shadow */
  border-radius: 4px !important;
  /* Optional: Add some border radius */
  margin: 10px !important;
  /* Optional: Add some margin */
}

::ng-deep .mat-simple-snackbar-action {
  color: #ff4081 !important;
  /* Optional: Customize the "Close" button color */
}

::ng-deep .mat-snack-bar-container {
  max-width: 100% !important;
  /* Make sure it doesn't get cut off */
}

.filter-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  padding: 20px;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-right: -40px;
  margin-top: 60px;

  app-range-slider {
    margin-right: 170px;
  }

  .apply-filters-button,
  .cancel-filters-button {
    margin-left: 10px;
  }

  .color-select {
    width: 50%;
  }
}

.no-matches-message {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-top: 50px;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  margin: 50px auto;
}

.no-pets-message {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-top: 50px;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  margin: 50px auto;

  a {
    color: #ff69b4; // Bright pink color for the link
    font-weight: bold;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.details-button-container {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.details-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
  transition: transform 0.3s;
}

.details-button:hover {
  transform: scale(1.2);
}

.details-button img {
  width: 30px;
  /* Adjust the size as needed */
  height: 30px;
  border-radius: 50%;
}


.chat-button-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.chat-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
  transition: transform 0.3s;
}

.chat-button:hover {
  transform: scale(1.2);
}

.chat-button img {
  width: 30px;
  /* Adjust the size as needed */
  height: 30px;
  border-radius: 50%;
}

::ng-deep {
  .filter-container {
    .mat-mdc-text-field-wrapper {
      width: 100% !important;
      margin-left: 10px !important;
      height: 40px !important;
    }

    .mat-form-field-wrapper {
      background: white;
      border-radius: 4px;
      border: 1px solid #ac9cc4;
      padding: 8px;
      overflow: hidden;

      .mat-mdc-text-field-wrapper {
        width: 50%;
      }

      .mat-form-field-flex {
        border: none;
      }

      .mat-input-element,
      .mat-select-trigger {
        color: #4d4d4d;
      }

      .mat-form-field-label {
        color: #ac9cc4 !important;
      }

      .mat-form-field-underline {
        display: none;
      }

      .mat-form-field-ripple {
        display: none;
      }
    }

    .mat-select-trigger {
      border-radius: 4px;
      border: 1px solid #ac9cc4;
      padding: 8px;
    }

    .mat-select-value {
      padding-left: 8px;
    }

    .mat-form-field-flex {
      padding: 0;
    }

    .mat-mdc-slider.mat-primary {
      --mdc-slider-handle-color: #ac9cc4 !important;
      --mdc-slider-focus-handle-color: #ac9cc4 !important;
      --mdc-slider-hover-handle-color: #ac9cc4 !important;
      --mdc-slider-active-track-color: #ac9cc4 !important;
      --mdc-slider-inactive-track-color: #ac9cc4 !important;
      --mdc-slider-with-tick-marks-active-container-color: #ac9cc4 !important;
      --mdc-slider-with-tick-marks-inactive-container-color: #ac9cc4 !important;
      --mat-mdc-slider-ripple-color: #ac9cc4 !important;
    }
  }
}

.like-button-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.like-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
  transition: transform 0.3s;
  margin-left: 20px;
}

.like-button:hover {
  transform: scale(1.2);
}

.like-button img {
  width: 30px;
  /* Adjust the size as needed */
  height: 30px;
  border-radius: 50%;
}