
<div class="sidebar">
  <div class="logo">
    <img src="assets/logo.png" alt="Logo">
  </div>
  <div class="navigation">
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/my-pets" routerLinkActive="active">My Pets</a></li>
      <li><a routerLink="/my-matches" routerLinkActive="active">My Matches</a></li>
      <li><a routerLink="/my-dms" routerLinkActive="active">My DMs</a></li>
      <li><button class="logout-btn" (click)="logout()"> <img src="assets/logout.png" alt="Like"></button></li>
    </ul>
  </div>
</div>

