<!-- <div class="modal fade" id="pet-modal" tabindex="-1" aria-labelledby="petModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="petModalLabel">{{ pet?.name }}'s details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row mb-3">
            <div class="col-md-6">
              <app-photo-gallery [imageIds]="pet?.photoIds" [petName]="pet?.name"></app-photo-gallery>
            </div>
            <div class="col-md-6">
              <p class="card-text"><strong>Age:</strong> {{ pet?.age }}</p>
              <p class="card-text"><strong>Color:</strong> {{ pet?.color }}</p>
              <p class="card-text"><strong>Gender:</strong> {{ pet?.gender }}</p>
              <p class="card-text"><strong>Breed:</strong> {{ pet?.breed }}</p>
              <p class="card-text"><strong>Description:</strong> {{ pet?.description }}</p>
              <p class="card-text"><strong>Owner:</strong></p>
              <ul>
                <li>Name: {{ pet?.owner?.firstName }}</li>
                <li>Phone: {{ pet?.owner?.lastName }}</li>
                <li>Email: {{ pet?.owner?.email }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   -->


<!-- <p class="card-text">Awards: {{pet?.microchipId}}</p> -->
    <!-- like button -->